@import "./components/NavBar/navbar";
@import "./screens/HomePage/homepage";
@import "./screens/Shopping/shopping";
@import "./components/Card/card";
@import "./screens/ThingsToDo/thingstodo";

body,
html {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
}
